
.icon-caret:before { content: '\e800'; } /* '' */
.icon-centerfit:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-mdi:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-protocol:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-times:before { content: '\e80a'; } /* '' */
.icon-tree:before { content: '\e80b'; } /* '' */
.icon-hbg:before { content: '\e80c'; } /* '' */
.icon-return-back:before { content: '\e80d'; } /* '' */
.icon-return-front:before { content: '\e80e'; } /* '' */
